.flexbox {
    display: flex;
    box-sizing:border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
 
.item    {
    display: block;
    box-sizing:border-box;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.content {
    background-color: rgb(204, 243, 28);
    border: 2px solid black;
    padding: 16px;
}